*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Taskmodel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #303D438C;
}
.Taskmodelcontent {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
.Taskmodelcontent p{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
}
.Taskmodelcontent p span{
    color: red;
}
.Tasktitle{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
}
.priorityOptions{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.priorityOptions p{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
}
.priorityOptions p span{
    color: red;
    margin-right: 10px;
}
.highPriority{
   background-color:  #FF2473;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}
.moderatePriority{
    background-color:#18B0FF;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px; 
}
.lowPriority{
    background-color:#63C05B;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px; 
}
.priorityOption{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    color: #767575;
    padding: 5px;
    cursor: pointer;
    margin-right: 5px;
}
.input{
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
    width: 97%;
}
.inputContainer{
    position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  padding: 10px;
  background-color: #fff;
  font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #E2E2E2;
}
.checklist{
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
}
.addChecklistButton{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #767575;
    margin-bottom: 200px;
    background-color: #FFFFFF;
}
.cancelButton{
    border: 1px solid #CF3636;
    box-shadow: 0px 2px 12px 0px #82698C33;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #CF3636;
    border-radius: 12px;
    padding: 10px 40px;
    margin-right: 1rem;
    cursor: pointer;
}
.saveButton{
    border: none;
    background-color: #18B0FF;
    box-shadow: 0px 2px 12px 0px #82698C33;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    padding: 10px 40px;
    color: #FFFFFF;
    cursor: pointer;
}
.error {
    color: red;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
  
  .required {
    color: red;
}
.checklistItem {
    display: flex; /* Align items horizontally */
    align-items: center; /* Vertically center the checkbox, input, and trash icon */
    justify-content: space-around; /* Ensure the input takes available space and the trash icon is pushed to the end */
    margin-bottom: 20px; /* Spacing between each checklist item */
  }

  .checklistInput {
    flex-grow: 1;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    border: none;
    padding-left: 20px; /* Padding for the checkbox */
    padding-right: 40px; /* Padding for the trash icon */
    outline: none;
  }
.trashIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  .datePickerContainer {
    position: relative;
    display: inline-block;
  }
  
  .datePickerButton {
    background-color: #FFFFFF;
    color: #707070;
    padding: 10px 20px;
    border: 1px solid #E2E2E2;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
  }
  .calendarDropdown {
    position: absolute
  } 
  .parentContainer {
    position: relative; /* Ensure the dropdown is positioned relative to this container */
  }
  
  .emailDropdown {
    position: absolute;
    top: 45px;
    left: 20px;
    background-color: #ffffff;
    border: 1px solid #7E7A7A14;
    border-radius: 5px;
    width: 100%; 
    margin-bottom: 10px;
 }
  .inputEmail{
    border: 1px solid #E2E2E2;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
    width: 80%;
}
.assignLabel{
    display: inline;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
}
  .emailItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .emailAvatar {
    background-color: #FFEBEB;
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
  }
  
  .emailText {
    flex-grow: 1;
    padding-left: 10px;
    font-size: 16px;
    color: #20102B;
    font-family: 'Inter';
    font-weight: 500;
  }
  
  .assignButton {
    background-color:#FFFFFF;
    color: #767575;
    padding: 5px 40px;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  } 